In [29]:
import numpy as np
import os
import pandas as pd
from tkinter import *
from PIL import Image, ImageTk
pd.set_option("display.max_rows", 10, "display.max_columns", 10)

In [2]:
# https://www.boardgameanalysis.com/the-102-ways-to-win-at-catan-part-i/

In [3]:
# Ways to win
waysToWin = 0
winScenario = []

for longestRoad in range(1 + 1):
    for largestArmy in range(1 + 1):
        for victoryPoint in range(5 + 1):
            for settlement in range(5 + 1):
                for city in range(min(settlement, 4) + 1):
                    for newSettlement in range(city + 1):
                        totalScore = settlement + city + newSettlement + victoryPoint + longestRoad * 2 + largestArmy * 2
                        if (totalScore == 10 or (longestRoad == 1 and totalScore == 11) or (largestArmy == 1 and totalScore == 11)):
                            waysToWin += 1 
# #                             print('ways to win: #', waysToWin, 'score:', totalScore)
# #                             print(
# #                                 'victory point:', victoryPoint,
# #                                 'longest road:', longestRoad*2,
# #                                 'largest army:', largestArmy*2,
# #                                 'settlement:', settlement - city + newSettlement, 
# #                                 'city:', city
# #                             )
                            winScenarioText = str(
                                    longestRoad*10000 
                                    + largestArmy*1000 
                                    + victoryPoint*100 
                                    + (settlement - city + newSettlement)*10 
                                    + city
                                ).zfill(5)
                            winScenario.append(winScenarioText)
# Remove duplicated scenarios                     
winScenario = list(dict.fromkeys(winScenario))
# winScenario

In [4]:
winScenario = pd.DataFrame(winScenario, columns = ['Scenario'])
winScenario

    Scenario
0      00043
1      00024
2      00133
3      00114
4      00152
..       ...
112    11420
113    11430
114    11510
115    11501
116    11520

[117 rows x 1 columns]

In [5]:
winScenario['LongestRoad'] = winScenario['Scenario'].astype(str).str[0].astype(int)
winScenario['LargestArmy'] = winScenario['Scenario'].astype(str).str[1].astype(int)
winScenario['VictoryPoint'] = winScenario['Scenario'].astype(str).str[2].astype(int)
winScenario['Settlement'] = winScenario['Scenario'].astype(str).str[3].astype(int)
winScenario['City'] = winScenario['Scenario'].astype(str).str[4].astype(int)
winScenario['TotalScore'] = (
    winScenario['VictoryPoint'] 
    + winScenario['LongestRoad']*2 
    + winScenario['LargestArmy']*2 
    + winScenario['Settlement']
    + winScenario['City']*2
)
winScenario = winScenario[(winScenario['TotalScore'] == 10) | (winScenario['TotalScore'] == 11)]
winScenario

,Scenario,LongestRoad,LargestArmy,VictoryPoint,Settlement,City,TotalScore
0,00043,0,0,0,4,3,10
1,00024,0,0,0,2,4,10
2,00133,0,0,1,3,3,10
3,00114,0,0,1,1,4,10
4,00152,0,0,1,5,2,10
...,...,...,...,...,...,...,...
112,11420,1,1,4,2,0,10
113,11430,1,1,4,3,0,11
114,11510,1,1,5,1,0,10
115,11501,1,1,5,0,1,11
116,11520,1,1,5,2,0,11

In [6]:
# Checking to see if anything is impossible, such as having less than 2 buildings
winScenario[(winScenario['Settlement'] + winScenario['City']) < 2]

,Scenario,LongestRoad,LargestArmy,VictoryPoint,Settlement,City,TotalScore
110,11401,1,1,4,0,1,10
114,11510,1,1,5,1,0,10
115,11501,1,1,5,0,1,11

In [7]:
# Removing scenario 51101, this is not possible, as at game start we would always have 
winScenario = winScenario[~winScenario['Scenario'].isin(['11401', '11510', '11501'])]
winScenario.shape

(114, 7)

In [8]:
# There is a special scenario, where the player has the 2nd longest road, and places the final 
# settlement to cut off the longest road holder and gain a final settlement and longest road, winning with 12 points
# This can happen when winning longestRoad = False (we don't have longest road yet) and 1 settlement or more
twelvePtsWinScenario = winScenario[(winScenario['LongestRoad'] == 0) & (winScenario['Settlement'] >= 1) & (winScenario['TotalScore'] == 10)]
twelvePtsWinScenario['LongestRoad'] = 1
twelvePtsWinScenario['TotalScore'] = (
    twelvePtsWinScenario['VictoryPoint'] 
    + twelvePtsWinScenario['LongestRoad']*2 
    + twelvePtsWinScenario['LargestArmy']*2 
    + twelvePtsWinScenario['Settlement']
    + twelvePtsWinScenario['City']*2
)
twelvePtsWinScenario['Scenario'] = (
    twelvePtsWinScenario['LongestRoad']*10000 
    + twelvePtsWinScenario['LargestArmy']*1000 
    + twelvePtsWinScenario['VictoryPoint']*100 
    + twelvePtsWinScenario['Settlement']*10 
    + twelvePtsWinScenario['City']
)
twelvePtsWinScenario['Scenario'] = twelvePtsWinScenario['Scenario'].astype(str)
twelvePtsWinScenario

<ipython-input-8-c7eb48333ef6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePtsWinScenario['LongestRoad'] = 1
<ipython-input-8-c7eb48333ef6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePtsWinScenario['TotalScore'] = (
<ipython-input-8-c7eb48333ef6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePtsWinScenario['Scenario'] = (
<ipython-input-8-c7eb48333ef6>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePtsWinScenario['Scenario'] = twelvePtsWinScenario['Scenario'].astype(str)

,Scenario,LongestRoad,LargestArmy,VictoryPoint,Settlement,City,TotalScore
0,10043,1,0,0,4,3,12
1,10024,1,0,0,2,4,12
2,10133,1,0,1,3,3,12
3,10114,1,0,1,1,4,12
4,10152,1,0,1,5,2,12
...,...,...,...,...,...,...,...
40,11350,1,1,3,5,0,12
41,11421,1,1,4,2,1,12
45,11440,1,1,4,4,0,12
47,11511,1,1,5,1,1,12
50,11530,1,1,5,3,0,12

In [9]:
# There's another impossible scenario, the 1 settlement and 1 city, since the settlement has 
# already been built since the beginning of the game
twelvePtsWinScenario = twelvePtsWinScenario[twelvePtsWinScenario['Scenario'] != '11511']
twelvePtsWinScenario

,Scenario,LongestRoad,LargestArmy,VictoryPoint,Settlement,City,TotalScore
0,10043,1,0,0,4,3,12
1,10024,1,0,0,2,4,12
2,10133,1,0,1,3,3,12
3,10114,1,0,1,1,4,12
4,10152,1,0,1,5,2,12
...,...,...,...,...,...,...,...
37,11331,1,1,3,3,1,12
40,11350,1,1,3,5,0,12
41,11421,1,1,4,2,1,12
45,11440,1,1,4,4,0,12
50,11530,1,1,5,3,0,12

In [27]:
allWinScenario = winScenario.append(twelvePtsWinScenario)
allWinScenario = allWinScenario.reset_index(drop = True)
allWinScenario.shape

(142, 7)

In [28]:
allWinScenario

,Scenario,LongestRoad,LargestArmy,VictoryPoint,Settlement,City,TotalScore
0,00043,0,0,0,4,3,10
1,00024,0,0,0,2,4,10
2,00133,0,0,1,3,3,10
3,00114,0,0,1,1,4,10
4,00152,0,0,1,5,2,10
5,00223,0,0,2,2,3,10
6,00242,0,0,2,4,2,10
7,00204,0,0,2,0,4,10
8,00332,0,0,3,3,2,10
9,00313,0,0,3,1,3,10
10,00351,0,0,3,5,1,10
11,00422,0,0,4,2,2,10
12,00403,0,0,4,0,3,10
13,00441,0,0,4,4,1,10
14,00512,0,0,5,1,2,10
15,00531,0,0,5,3,1,10
16,00550,0,0,5,5,0,10
17,01023,0,1,0,2,3,10
18,01033,0,1,0,3,3,11
19,01042,0,1,0,4,2,10
20,01004,0,1,0,0,4,10
21,01014,0,1,0,1,4,11
22,01052,0,1,0,5,2,11
23,01132,0,1,1,3,2,10
24,01113,0,1,1,1,3,10
25,01123,0,1,1,2,3,11
26,01142,0,1,1,4,2,11
27,01104,0,1,1,0,4,11
28,01151,0,1,1,5,1,10
29,01222,0,1,2,2,2,10
30,01232,0,1,2,3,2,11
31,01203,0,1,2,0,3,10
32,01213,0,1,2,1,3,11
33,01241,0,1,2,4,1,10
34,01251,0,1,2,5,1,11
35,01312,0,1,3,1,2,10
36,01322,0,1,3,2,2,11
37,01331,0,1,3,3,1,10
38,01303,0,1,3,0,3,11
39,01341,0,1,3,4,1,11
40,01350,0,1,3,5,0,10
41,01421,0,1,4,2,1,10
42,01402,0,1,4,0,2,10
43,01412,0,1,4,1,2,11
44,01431,0,1,4,3,1,11
45,01440,0,1,4,4,0,10
46,01450,0,1,4,5,0,11
47,01511,0,1,5,1,1,10
48,01521,0,1,5,2,1,11
49,01502,0,1,5,0,2,11
50,01530,0,1,5,3,0,10
51,01540,0,1,5,4,0,11
52,10023,1,0,0,2,3,10
53,10033,1,0,0,3,3,11
54,10042,1,0,0,4,2,10
55,10004,1,0,0,0,4,10
56,10014,1,0,0,1,4,11
57,10052,1,0,0,5,2,11
58,10132,1,0,1,3,2,10
59,10113,1,0,1,1,3,10
60,10123,1,0,1,2,3,11
61,10142,1,0,1,4,2,11
62,10104,1,0,1,0,4,11
63,10151,1,0,1,5,1,10
64,10222,1,0,2,2,2,10
65,10232,1,0,2,3,2,11
66,10203,1,0,2,0,3,10
67,10213,1,0,2,1,3,11
68,10241,1,0,2,4,1,10
69,10251,1,0,2,5,1,11
70,10312,1,0,3,1,2,10
71,10322,1,0,3,2,2,11
72,10331,1,0,3,3,1,10
73,10303,1,0,3,0,3,11
74,10341,1,0,3,4,1,11
75,10350,1,0,3,5,0,10
76,10421,1,0,4,2,1,10
77,10402,1,0,4,0,2,10
78,10412,1,0,4,1,2,11
79,10431,1,0,4,3,1,11
80,10440,1,0,4,4,0,10
81,10450,1,0,4,5,0,11
82,10511,1,0,5,1,1,10
83,10521,1,0,5,2,1,11
84,10502,1,0,5,0,2,11
85,10530,1,0,5,3,0,10
86,10540,1,0,5,4,0,11
87,11022,1,1,0,2,2,10
88,11032,1,1,0,3,2,11
89,11003,1,1,0,0,3,10
90,11013,1,1,0,1,3,11
91,11041,1,1,0,4,1,10
92,11051,1,1,0,5,1,11
93,11112,1,1,1,1,2,10
94,11122,1,1,1,2,2,11
95,11131,1,1,1,3,1,10
96,11103,1,1,1,0,3,11
97,11141,1,1,1,4,1,11
98,11150,1,1,1,5,0,10
99,11221,1,1,2,2,1,10
100,11202,1,1,2,0,2,10
101,11212,1,1,2,1,2,11
102,11231,1,1,2,3,1,11
103,11240,1,1,2,4,0,10
104,11250,1,1,2,5,0,11
105,11311,1,1,3,1,1,10
106,11321,1,1,3,2,1,11
107,11302,1,1,3,0,2,11
108,11330,1,1,3,3,0,10
109,11340,1,1,3,4,0,11
110,11411,1,1,4,1,1,11
111,11420,1,1,4,2,0,10
112,11430,1,1,4,3,0,11
113,11520,1,1,5,2,0,11
114,10043,1,0,0,4,3,12
115,10024,1,0,0,2,4,12
116,10133,1,0,1,3,3,12
117,10114,1,0,1,1,4,12
118,10152,1,0,1,5,2,12
119,10223,1,0,2,2,3,12
120,10242,1,0,2,4,2,12
121,10332,1,0,3,3,2,12
122,10313,1,0,3,1,3,12
123,10351,1,0,3,5,1,12
124,10422,1,0,4,2,2,12
125,10441,1,0,4,4,1,12
126,10512,1,0,5,1,2,12
127,10531,1,0,5,3,1,12
128,10550,1,0,5,5,0,12
129,11023,1,1,0,2,3,12
130,11042,1,1,0,4,2,12
131,11132,1,1,1,3,2,12
132,11113,1,1,1,1,3,12
133,11151,1,1,1,5,1,12
134,11222,1,1,2,2,2,12
135,11241,1,1,2,4,1,12
136,11312,1,1,3,1,2,12
137,11331,1,1,3,3,1,12
138,11350,1,1,3,5,0,12
139,11421,1,1,4,2,1,12
140,11440,1,1,4,4,0,12
141,11530,1,1,5,3,0,12

In [30]:
allWinScenario['minDevCard'] = allWinScenario['LargestArmy']*3 + allWinScenario['VictoryPoint']
allWinScenario['numOfBuildings'] = allWinScenario['LargestArmy']*3 + allWinScenario['VictoryPoint']
allWinScenario

,Scenario,LongestRoad,LargestArmy,VictoryPoint,Settlement,City,TotalScore,minDevCard
0,00043,0,0,0,4,3,10,0
1,00024,0,0,0,2,4,10,0
2,00133,0,0,1,3,3,10,1
3,00114,0,0,1,1,4,10,1
4,00152,0,0,1,5,2,10,1
...,...,...,...,...,...,...,...,...
137,11331,1,1,3,3,1,12,6
138,11350,1,1,3,5,0,12,6
139,11421,1,1,4,2,1,12,7
140,11440,1,1,4,4,0,12,7
141,11530,1,1,5,3,0,12,8