In [10]:
import numpy as np
import os
import pandas as pd
from tkinter import *
from PIL import Image, ImageTk

In [ ]:
# https://www.boardgameanalysis.com/the-102-ways-to-win-at-catan-part-i/

In [112]:
# Ways to win
waysToWin = 0
winScenario = []

for longestRoad in range(1 + 1):
    for largestArmy in range(1 + 1):
        for victoryPoint in range(5 + 1):
            for settlement in range(5 + 1):
                for city in range(settlement + 1):
                    for newSettlement in range(city + 1):

                        totalScore = settlement + city + newSettlement + victoryPoint + longestRoad * 2 + largestArmy * 2
                        if (totalScore >= 10 and totalScore <= 11):
                            waysToWin += 1 
#                             print('ways to win: #', waysToWin, 'score:', totalScore)
#                             print(
#                                 'victory point:', victoryPoint,
#                                 'longest road:', longestRoad*2,
#                                 'largest army:', largestArmy*2,
#                                 'settlement:', settlement - city + newSettlement, 
#                                 'city:', city
#                             )
                            winScenarioText = str(
                                    victoryPoint*10000 
                                    + longestRoad*1*1000 
                                    + largestArmy*1*100 
                                    + (settlement - city + newSettlement)*10 
                                    + city
                                ).zfill(5)
                            winScenario.append(winScenarioText)
# Remove duplicated scenarios                     
winScenario = list(dict.fromkeys(winScenario))

In [117]:
winScenario = pd.DataFrame(winScenario, columns = ['Scenario'])
winScenario

In [108]:
winScenario['VictoryPoint'] = winScenario['Scenario'].astype(str).str[0].astype(int)
winScenario['LongestRoad'] = winScenario['Scenario'].astype(str).str[1].astype(int)
winScenario['LargestArmy'] = winScenario['Scenario'].astype(str).str[2].astype(int)
winScenario['Settlement'] = winScenario['Scenario'].astype(str).str[3].astype(int)
winScenario['City'] = winScenario['Scenario'].astype(str).str[4].astype(int)
winScenario['TotalScore'] = (
    winScenario['VictoryPoint'] 
    + winScenario['LongestRoad']*2 
    + winScenario['LargestArmy']*2 
    + winScenario['Settlement']
    + winScenario['City']*2
)
winScenario

,Scenario,VictoryPoint,LongestRoad,LargestArmy,Settlement,City,TotalScore
0,00043,0,0,0,4,3,10
1,00024,0,0,0,2,4,10
2,00034,0,0,0,3,4,11
3,00053,0,0,0,5,3,11
4,00005,0,0,0,0,5,10
5,00015,0,0,0,1,5,11
6,10033,1,0,0,3,3,10
7,10043,1,0,0,4,3,11
8,10014,1,0,0,1,4,10
9,10024,1,0,0,2,4,11
10,10052,1,0,0,5,2,10
11,10005,1,0,0,0,5,11
12,20023,2,0,0,2,3,10
13,20033,2,0,0,3,3,11
14,20042,2,0,0,4,2,10
15,20004,2,0,0,0,4,10
16,20014,2,0,0,1,4,11
17,20052,2,0,0,5,2,11
18,30032,3,0,0,3,2,10
19,30013,3,0,0,1,3,10
20,30023,3,0,0,2,3,11
21,30042,3,0,0,4,2,11
22,30004,3,0,0,0,4,11
23,30051,3,0,0,5,1,10
24,40022,4,0,0,2,2,10
25,40032,4,0,0,3,2,11
26,40003,4,0,0,0,3,10
27,40013,4,0,0,1,3,11
28,40041,4,0,0,4,1,10
29,40051,4,0,0,5,1,11
30,50012,5,0,0,1,2,10
31,50022,5,0,0,2,2,11
32,50031,5,0,0,3,1,10
33,50003,5,0,0,0,3,11
34,50041,5,0,0,4,1,11
35,50050,5,0,0,5,0,10
36,00123,0,0,1,2,3,10
37,00133,0,0,1,3,3,11
38,00142,0,0,1,4,2,10
39,00104,0,0,1,0,4,10
40,00114,0,0,1,1,4,11
41,00152,0,0,1,5,2,11
42,10132,1,0,1,3,2,10
43,10113,1,0,1,1,3,10
44,10123,1,0,1,2,3,11
45,10142,1,0,1,4,2,11
46,10104,1,0,1,0,4,11
47,10151,1,0,1,5,1,10
48,20122,2,0,1,2,2,10
49,20132,2,0,1,3,2,11
50,20103,2,0,1,0,3,10
51,20113,2,0,1,1,3,11
52,20141,2,0,1,4,1,10
53,20151,2,0,1,5,1,11
54,30112,3,0,1,1,2,10
55,30122,3,0,1,2,2,11
56,30131,3,0,1,3,1,10
57,30103,3,0,1,0,3,11
58,30141,3,0,1,4,1,11
59,30150,3,0,1,5,0,10
60,40121,4,0,1,2,1,10
61,40102,4,0,1,0,2,10
62,40112,4,0,1,1,2,11
63,40131,4,0,1,3,1,11
64,40140,4,0,1,4,0,10
65,40150,4,0,1,5,0,11
66,50111,5,0,1,1,1,10
67,50121,5,0,1,2,1,11
68,50102,5,0,1,0,2,11
69,50130,5,0,1,3,0,10
70,50140,5,0,1,4,0,11
71,01023,0,1,0,2,3,10
72,01033,0,1,0,3,3,11
73,01042,0,1,0,4,2,10
74,01004,0,1,0,0,4,10
75,01014,0,1,0,1,4,11
76,01052,0,1,0,5,2,11
77,11032,1,1,0,3,2,10
78,11013,1,1,0,1,3,10
79,11023,1,1,0,2,3,11
80,11042,1,1,0,4,2,11
81,11004,1,1,0,0,4,11
82,11051,1,1,0,5,1,10
83,21022,2,1,0,2,2,10
84,21032,2,1,0,3,2,11
85,21003,2,1,0,0,3,10
86,21013,2,1,0,1,3,11
87,21041,2,1,0,4,1,10
88,21051,2,1,0,5,1,11
89,31012,3,1,0,1,2,10
90,31022,3,1,0,2,2,11
91,31031,3,1,0,3,1,10
92,31003,3,1,0,0,3,11
93,31041,3,1,0,4,1,11
94,31050,3,1,0,5,0,10
95,41021,4,1,0,2,1,10
96,41002,4,1,0,0,2,10
97,41012,4,1,0,1,2,11
98,41031,4,1,0,3,1,11
99,41040,4,1,0,4,0,10
100,41050,4,1,0,5,0,11
101,51011,5,1,0,1,1,10
102,51021,5,1,0,2,1,11
103,51002,5,1,0,0,2,11
104,51030,5,1,0,3,0,10
105,51040,5,1,0,4,0,11
106,01122,0,1,1,2,2,10
107,01132,0,1,1,3,2,11
108,01103,0,1,1,0,3,10
109,01113,0,1,1,1,3,11
110,01141,0,1,1,4,1,10
111,01151,0,1,1,5,1,11
112,11112,1,1,1,1,2,10
113,11122,1,1,1,2,2,11
114,11131,1,1,1,3,1,10
115,11103,1,1,1,0,3,11
116,11141,1,1,1,4,1,11
117,11150,1,1,1,5,0,10
118,21121,2,1,1,2,1,10
119,21102,2,1,1,0,2,10
120,21112,2,1,1,1,2,11
121,21131,2,1,1,3,1,11
122,21140,2,1,1,4,0,10
123,21150,2,1,1,5,0,11
124,31111,3,1,1,1,1,10
125,31121,3,1,1,2,1,11
126,31102,3,1,1,0,2,11
127,31130,3,1,1,3,0,10
128,31140,3,1,1,4,0,11
129,41101,4,1,1,0,1,10
130,41111,4,1,1,1,1,11
131,41120,4,1,1,2,0,10
132,41130,4,1,1,3,0,11
133,51110,5,1,1,1,0,10
135,51120,5,1,1,2,0,11

In [110]:
# Checking to see if anything is impossible, such as <= 1 settlement with no city
winScenario[(winScenario['Settlement'] <= 1) & (winScenario['City'] == 0)]

,Scenario,VictoryPoint,LongestRoad,LargestArmy,Settlement,City,TotalScore
133,51110,5,1,1,1,0,10

In [111]:
# Removing scenario 51101, this is not possible, as at game start we would always have 
winScenario = winScenario[winScenario['Scenario'] != '51101']
winScenario

,Scenario,VictoryPoint,LongestRoad,LargestArmy,Settlement,City,TotalScore
0,00043,0,0,0,4,3,10
1,00024,0,0,0,2,4,10
2,00034,0,0,0,3,4,11
3,00053,0,0,0,5,3,11
4,00005,0,0,0,0,5,10
5,00015,0,0,0,1,5,11
6,10033,1,0,0,3,3,10
7,10043,1,0,0,4,3,11
8,10014,1,0,0,1,4,10
9,10024,1,0,0,2,4,11
10,10052,1,0,0,5,2,10
11,10005,1,0,0,0,5,11
12,20023,2,0,0,2,3,10
13,20033,2,0,0,3,3,11
14,20042,2,0,0,4,2,10
15,20004,2,0,0,0,4,10
16,20014,2,0,0,1,4,11
17,20052,2,0,0,5,2,11
18,30032,3,0,0,3,2,10
19,30013,3,0,0,1,3,10
20,30023,3,0,0,2,3,11
21,30042,3,0,0,4,2,11
22,30004,3,0,0,0,4,11
23,30051,3,0,0,5,1,10
24,40022,4,0,0,2,2,10
25,40032,4,0,0,3,2,11
26,40003,4,0,0,0,3,10
27,40013,4,0,0,1,3,11
28,40041,4,0,0,4,1,10
29,40051,4,0,0,5,1,11
30,50012,5,0,0,1,2,10
31,50022,5,0,0,2,2,11
32,50031,5,0,0,3,1,10
33,50003,5,0,0,0,3,11
34,50041,5,0,0,4,1,11
35,50050,5,0,0,5,0,10
36,00123,0,0,1,2,3,10
37,00133,0,0,1,3,3,11
38,00142,0,0,1,4,2,10
39,00104,0,0,1,0,4,10
40,00114,0,0,1,1,4,11
41,00152,0,0,1,5,2,11
42,10132,1,0,1,3,2,10
43,10113,1,0,1,1,3,10
44,10123,1,0,1,2,3,11
45,10142,1,0,1,4,2,11
46,10104,1,0,1,0,4,11
47,10151,1,0,1,5,1,10
48,20122,2,0,1,2,2,10
49,20132,2,0,1,3,2,11
50,20103,2,0,1,0,3,10
51,20113,2,0,1,1,3,11
52,20141,2,0,1,4,1,10
53,20151,2,0,1,5,1,11
54,30112,3,0,1,1,2,10
55,30122,3,0,1,2,2,11
56,30131,3,0,1,3,1,10
57,30103,3,0,1,0,3,11
58,30141,3,0,1,4,1,11
59,30150,3,0,1,5,0,10
60,40121,4,0,1,2,1,10
61,40102,4,0,1,0,2,10
62,40112,4,0,1,1,2,11
63,40131,4,0,1,3,1,11
64,40140,4,0,1,4,0,10
65,40150,4,0,1,5,0,11
66,50111,5,0,1,1,1,10
67,50121,5,0,1,2,1,11
68,50102,5,0,1,0,2,11
69,50130,5,0,1,3,0,10
70,50140,5,0,1,4,0,11
71,01023,0,1,0,2,3,10
72,01033,0,1,0,3,3,11
73,01042,0,1,0,4,2,10
74,01004,0,1,0,0,4,10
75,01014,0,1,0,1,4,11
76,01052,0,1,0,5,2,11
77,11032,1,1,0,3,2,10
78,11013,1,1,0,1,3,10
79,11023,1,1,0,2,3,11
80,11042,1,1,0,4,2,11
81,11004,1,1,0,0,4,11
82,11051,1,1,0,5,1,10
83,21022,2,1,0,2,2,10
84,21032,2,1,0,3,2,11
85,21003,2,1,0,0,3,10
86,21013,2,1,0,1,3,11
87,21041,2,1,0,4,1,10
88,21051,2,1,0,5,1,11
89,31012,3,1,0,1,2,10
90,31022,3,1,0,2,2,11
91,31031,3,1,0,3,1,10
92,31003,3,1,0,0,3,11
93,31041,3,1,0,4,1,11
94,31050,3,1,0,5,0,10
95,41021,4,1,0,2,1,10
96,41002,4,1,0,0,2,10
97,41012,4,1,0,1,2,11
98,41031,4,1,0,3,1,11
99,41040,4,1,0,4,0,10
100,41050,4,1,0,5,0,11
101,51011,5,1,0,1,1,10
102,51021,5,1,0,2,1,11
103,51002,5,1,0,0,2,11
104,51030,5,1,0,3,0,10
105,51040,5,1,0,4,0,11
106,01122,0,1,1,2,2,10
107,01132,0,1,1,3,2,11
108,01103,0,1,1,0,3,10
109,01113,0,1,1,1,3,11
110,01141,0,1,1,4,1,10
111,01151,0,1,1,5,1,11
112,11112,1,1,1,1,2,10
113,11122,1,1,1,2,2,11
114,11131,1,1,1,3,1,10
115,11103,1,1,1,0,3,11
116,11141,1,1,1,4,1,11
117,11150,1,1,1,5,0,10
118,21121,2,1,1,2,1,10
119,21102,2,1,1,0,2,10
120,21112,2,1,1,1,2,11
121,21131,2,1,1,3,1,11
122,21140,2,1,1,4,0,10
123,21150,2,1,1,5,0,11
124,31111,3,1,1,1,1,10
125,31121,3,1,1,2,1,11
126,31102,3,1,1,0,2,11
127,31130,3,1,1,3,0,10
128,31140,3,1,1,4,0,11
129,41101,4,1,1,0,1,10
130,41111,4,1,1,1,1,11
131,41120,4,1,1,2,0,10
132,41130,4,1,1,3,0,11
133,51110,5,1,1,1,0,10
135,51120,5,1,1,2,0,11

In [106]:
# There is a special scenario, where the player has the 2nd longest road, and places the final 
# settlement to cut off the longest road holder and gain a final settlement and longest road, winning with 12 points
# 
twelvePointsWin = winScenario[(winScenario['LongestRoad'] == 0) & (winScenario['Settlement'] >= 1) & (winScenario['TotalScore'] == 10)]
twelvePointsWin['LongestRoad'] = 1
twelvePointsWin['ScenarioTemp'] = (
    str(twelvePointsWin['VictoryPoint'])
#     + str(twelvePointsWin['LongestRoad'])
#     + str(twelvePointsWin['LargestArmy'])
#     + str(twelvePointsWin['Settlement'])
#     + str(twelvePointsWin['City'])
)
twelvePointsWin['TotalScore'] = (
    twelvePointsWin['VictoryPoint'] 
    + twelvePointsWin['LongestRoad']*2 
    + twelvePointsWin['LargestArmy']*2 
    + twelvePointsWin['Settlement']
    + twelvePointsWin['City']*2
)
twelvePointsWin

<ipython-input-106-a756020a59bc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePointsWin['LongestRoad'] = 1
<ipython-input-106-a756020a59bc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePointsWin['ScenarioTemp'] = (
<ipython-input-106-a756020a59bc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelvePointsWin['TotalScore'] = (

,Scenario,VictoryPoint,LongestRoad,LargestArmy,Settlement,City,TotalScore,ScenarioTemp
0,00043,0,1,0,4,3,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
1,00024,0,1,0,2,4,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
6,10033,1,1,0,3,3,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
8,10014,1,1,0,1,4,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
10,10052,1,1,0,5,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
12,20023,2,1,0,2,3,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
14,20042,2,1,0,4,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
18,30032,3,1,0,3,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
19,30013,3,1,0,1,3,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
23,30051,3,1,0,5,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
24,40022,4,1,0,2,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
28,40041,4,1,0,4,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
30,50012,5,1,0,1,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
32,50031,5,1,0,3,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
35,50050,5,1,0,5,0,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
36,00123,0,1,1,2,3,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
38,00142,0,1,1,4,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
42,10132,1,1,1,3,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
43,10113,1,1,1,1,3,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
47,10151,1,1,1,5,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
48,20122,2,1,1,2,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
52,20141,2,1,1,4,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
54,30112,3,1,1,1,2,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
56,30131,3,1,1,3,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
59,30150,3,1,1,5,0,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
60,40121,4,1,1,2,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
64,40140,4,1,1,4,0,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
66,50111,5,1,1,1,1,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...
69,50130,5,1,1,3,0,12,0 0\n1 0\n6 1\n8 1\n10 1\n1...